<ion-view view-title="HACalc" name="home-view">
  <ion-pane>
  <ion-header-bar class="header-block">
    <h1 style="color:#fff;" class="title">Humana Alimentar Calculadoras</h1>
  </ion-header-bar>


    <ion-content direction="y" class="has-footer">
      <div class="content">
        <ion-list>
          <a ng-click="IMCredirect()" style="text-decoration: none">
          <ion-item>Cáculo IMC
             <div class="item-icon-right">
                 <i class="icon ion-ios-arrow-right"></i>
             </div>
          </ion-item></a>
            <ion-item>Kcal/kg</ion-item>
            <ion-item>Protein/kg</ion-item>
        </ion-list>
      </div>
  </ion-content>
  </ion-pane>

  <ion-footer-bar class="main-footer-block">
      <div class="footer-item">
        <div class="footer-item">
          <p style="font-size:25px;">0800 771 6915</p>
        </div>
        <p style="font-size:20px;">www.humanaalimentar.com.br</p>
        <div class="footer-item">
          <p style="font-size:13px;">Copyright &#169 | Humana Alimentar </p>
        </div>
      </div>
  </ion-footer-bar>

</ion-view>
